{
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature",
      "positionLocked" : false,
      "anchor" : "center"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/optionsmenu/header.png",
      "fileBody" : "/interface/optionsmenu/body_blank.png",
      "fileFooter" : "/interface/optionsmenu/footer.png"
    },
    "title" : {
      "type" : "label",
      "position" : [119, 212],
      "hAnchor" : "mid",
      "value" : "CONTROLLER / BUILD"
    },

    "controllerMouseEnabledLabel" : {
      "type" : "label",
      "position" : [24, 168],
      "hAnchor" : "left",
      "value" : "STICK MOUSE"
    },
    "controllerMouseEnabledCheckbox" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [104, 168],
      "base" : "/interface/optionsmenu/checkboxnocheck.png",
      "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true,
      "callback" : "controllerMouseEnabledCheckbox"
    },

    "inventoryBuildFromInventoryLabel" : {
      "type" : "label",
      "position" : [24, 152],
      "hAnchor" : "left",
      "value" : "BUILD FROM INVENTORY"
    },
    "inventoryBuildFromInventoryCheckbox" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [146, 152],
      "base" : "/interface/optionsmenu/checkboxnocheck.png",
      "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true,
      "callback" : "inventoryBuildFromInventoryCheckbox"
    },

    "controllerMouseSpeedLabel" : {
      "type" : "label",
      "position" : [24, 118],
      "hAnchor" : "left",
      "value" : "STICK MOUSE SPEED"
    },
    "controllerMouseSpeedSlider" : {
      "type" : "slider",
      "position" : [122, 118],
      "gridImage" : "/interface/optionsmenu/smallselection.png",
      "callback" : "controllerMouseSpeedSlider"
    },
    "controllerMouseSpeedValueLabel" : {
      "type" : "label",
      "position" : [214, 118],
      "hAnchor" : "right",
      "value" : "1400"
    },

    "controllerMouseDeadzoneLabel" : {
      "type" : "label",
      "position" : [24, 102],
      "hAnchor" : "left",
      "value" : "STICK MOUSE DEADZONE"
    },
    "controllerMouseDeadzoneSlider" : {
      "type" : "slider",
      "position" : [122, 102],
      "gridImage" : "/interface/optionsmenu/smallselection.png",
      "callback" : "controllerMouseDeadzoneSlider"
    },
    "controllerMouseDeadzoneValueLabel" : {
      "type" : "label",
      "position" : [214, 102],
      "hAnchor" : "right",
      "value" : "20%"
    },

    "cancel" : {
      "type" : "button",
      "position" : [26, 8],
      "caption" : "Back",
      "base" : "/interface/button.png?scalenearest=1;0.925",
      "hover" : "/interface/buttonhover.png?scalenearest=1;0.925",
      "callback" : "cancel"
    },
    "accept" : {
      "type" : "button",
      "position" : [140, 8],
      "caption" : "Apply",
      "base" : "/interface/button.png?scalenearest=1;0.925",
      "hover" : "/interface/buttonhover.png?scalenearest=1;0.925",
      "callback" : "accept"
    }
  }
}
